.Rproj.user
.Rhistory
.RData
naro_toukei.Rproj 
mcmc_text/mcmc_text.aux
mcmc/text/mcmc_text.dvi
mcmc_text/mcmc_text.fdb_latexmk
mcmc_text/mcmc_text.fls
mcmc_text/mcmc_text.log
mcmc_text/mcmc_text.pdf
mcmc_text/mcmc_text.synctex.gz
事務文書
