.DS_Store
.Rapp.history
.Rproj.user
.Rhistory
.RData
.gitignore
*.rds
*.zip
*~
naro_toukei.Rproj 
mcmc_slide.pdf
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.graffle
*.xbb
mcmc_text/mcmc_text.pdf
事務文書
