.DS_Store
.Rapp.history
.Rproj.user
.Rhistory
.RData
*.rda
*.zip
naro_toukei.Rproj 
mcmc_slide.pdf
mcmc_text/mcmc_text.aux
mcmc_text/mcmc_text.dvi
mcmc_text/mcmc_text.fdb_latexmk
mcmc_text/mcmc_text.fls
mcmc_text/mcmc_text.log
mcmc_text/mcmc_text.synctex.gz
事務文書
